DATABASE_URL=postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require
WHATSAPP_NUMBER=56900000000
JWT_SECRET=flow-gangster-jwt-secret-2026
ADMIN_USER=admin
ADMIN_PASS=admin123
